<head>
	<title>Evaluacion de taller de Git</title>
</head>
<body>
	<h1>Listado de alumnos</h1>	
	<table>
		<tr>
  			<td><strong>Nombre</strong></td>
  			<td><strong>Cedula</strong></td>
  			<td><strong>Observacion</strong></td>
		</tr>

		<tr>
  			<td>Ingrid Rodriguez</td>
  			<td>11920478</td>
  			<td>Estudiante de la electiva profesional ubv</td>
		</tr>
	</table>
</body>
